.search-form {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 20px;
  position: relative;
  input {
    all: unset;
    outline: none;
    padding: 8px 20px;
  }
  .text {
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    color: white;
  }
  .submit {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    position: absolute;
    right: 24px;
    top: 8px;
    cursor: pointer;
  }
  ~ p {
    margin-top: 50px;
    padding: 0px 30px;
    font-size: 18px;
    font-weight: 500;
  }
}
