.video-watch {
  width: 100%;
  box-sizing: border-box;
  margin: 0px auto;
}

#video__info {
  display: grid;
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 25px;

  h2 {
    font-size: 24px;
    font-weight: 500;
  }
  #other__info {
    display: flex;
    align-item: center;
    justify-content: space-between;

    #left__info {
      display: flex;

      #other__info__text {
        display: grid;
        align-content: flex-start;
        gap: 10px;
        min-width: 134px;

        a {
          font-size: 18px;
          font-weight: 500;
        }
        span {
          font-size: 12px;
          font-weight: 300;
        }
      }
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-left: 15px;
    }
    li {
      display: inline;
      padding: 5px 10px;
      margin: 4px 5px;
      background-color: #2d2d2d;
      border-radius: 5px;
      font-size: 14px;
    }
  }
  p {
    padding: 15px;
    background-color: #2d2d2d;
    border-radius: 5px;
    font-size: 14px;
  }
}

#modify__video {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  a {
    background-color: #2d2d2d;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
  }
}
